<template name="notifications">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Notifications
		{{#if notificationCount}}
			<span class="badge badge-inverse">{{notificationCount}}</span>
		{{/if}}
		<b class="caret"></b>
	</a>
	<ul class="notification dropdown-menu">
		{{#if notificationCount}}
			{{#each notifications}}
				{{> notification}}
			{{/each}}
			{{#each personalNotifications}}
				{{> personalNotification}}
			{{/each}}
		{{else}}
			<li><span>No Notifications</span></li>
		{{/if}}
	</ul>
</template>

<template name="notification">
	<li class="notification-li">
		<a href="#">
			<strong>{{posterName}}</strong> vous a mentionné
		</a>
	</li>
</template>

<template name="personalNotification">
	<li class="notification-li">
		<a href="#">
			<strong>{{posterName}}</strong> a mentionné une alerte personnalisée
		</a>
	</li>
</template>